APP_NAME=GuitAI API
APP_DESCRIPTION=Backend da plataforma GuitAI.
APP_VERSION=0.1.0
APP_ENV=development

CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173

SPOTIFY_CLIENT_ID=95d9bb1294e44a0da22e42a5ba0d9102
SPOTIFY_CLIENT_SECRET=e5cf7ffe40fb4fc6ba4648cd0b13c6e3
SPOTIFY_MARKET=BR